body {
  background-color: wheat;
}

img {
  width: 100%
}

.column1 {
  width: 400px;
}

.column2 {
  width: 400px;
}

.column3 {
  width: 400px;
}

.column4 {
  width: 400px;
}

.column5 {
  width: 400px;
}