body {
  background-color: wheat;
  margin: 20px;
}

div {
  font-family: monospace;
  border: solid black 5px;
  padding: 8px;
  width: 400px;
  box-sizing: border-box;
}

img {
  width: 100%;
}

.column1 {
  
}

.column2 {
  
}

.column3 {
  
}

.column4 {
  
}

.column5 {
  
}